* {
  box-sizing:border-box;
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
}
body {
  background-color: grey;
  margin: auto;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
header {
  position: relative;
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
  text-align: right;
  height: 80px;
}
.name {
  background-color: #4aaaa5;
  text-align: left;
  margin-left: 40px;
  padding: 30px;
  height: 78px;
  width: 275px;
}
.nav {
  text-align: right;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: 800px;
}
.nav a {
  text-decoration: none;
}
footer {
  background-color: #666666;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-color: #4aaaa5;
  border-top-style: solid;
  border-top-width: 10px;
  padding-bottom: 40px;
  padding-top: 40px;
  clear: both;
}
.content {
  max-width: 960px;
  margin: 40px;
}
.section {
  width: 650px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  float: left;
  margin-bottom: 40px;
  margin-right: 20px;
}
.bioimg {
  margin: 30px;
  float: left;
}
.bio {
  margin: 30px;
  line-height: 1.5;
}
.contact {
  width: 270px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  float: left;
  margin-left: 20px;
}
.contactlinks {
  margin: 30px;
}
.contactimg {
  height: 65px;
  width: 65px;
}
.portfolio {
  width: 650px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  float: left;
  margin-bottom: 40px;
  margin-right: 20px;
}
.form {
  width: 650px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  float: left;
  margin-bottom: 40px;
  margin-right: 20px;
}
h1 {
  color: #ffffff;
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
  font-size: 30px;
}
h2 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
  font-size: 30px;
  margin: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #dddddd;
}
h3 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
  font-size: 24px;
  margin: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #dddddd;
}
h4 {
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
h5 {
  color: #ffffff;
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 20px;
  position: relative;
  bottom: 70px;
  text-align: center;
  padding: 10px;
}
input[type=text] {
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 8px 12px;
  margin-top: 10px;
  width: 225px;
}
input[type=submit] {
  background-color: #4aaaa5;
  color: white;
}
input[name=message] {
  height: 150px;
}
.portpics {
  margin: 20px;
  padding: 0px;
  float: left;
}
.portimg {
  height: 175px;
  width: 175px;
}
.portheading {
  width: 175px;
}
